@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #355C7D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

	
		#mem_main_div {
			position: absolute;
			top: 40%;
			left: 50%;
			margin: -150px 0 0 -150px;
			width: 300px;
			height: 300px;
		}
		#mem_header {
			font-family: 'Open Sans', sans-serif;
			color: white;
			text-shadow: 0 0 10px;
			text-align: center;	
			margin-left: 25px;
			margin-bottom: 30px;
		}
		.input_info {
			width: 100%;
			height: 20px;
			margin-bottom: 20px;
			background: rgba(0,0,0,0.3);
			border: none;
			outline: none;
			padding: 10px;
			font-size: 17px;
			color: #fff;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
			border: 1px solid rgba(0,0,0,0.3);
			border-radius: 4px;
			box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
			-webkit-transition: box-shadow .5s ease;
			-moz-transition: box-shadow .5s ease;
			-o-transition: box-shadow .5s ease;
			-ms-transition: box-shadow .5s ease;
			transition: box-shadow .5s ease;
		}
		.create_btn {			
			height: 35px;
			margin-left: 19px;			
			-moz-box-shadow: 2px 4px 10px 0px #c0c9cc;
			-webkit-box-shadow: 2px 4px 10px 0px #c0c9cc;
			box-shadow: 2px 4px 10px 0px #c0c9cc;
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #ab92ab));
			background:-moz-linear-gradient(top, #ededed 5%, #ab92ab 100%);
			background:-webkit-linear-gradient(top, #ededed 5%, #ab92ab 100%);
			background:-o-linear-gradient(top, #ededed 5%, #ab92ab 100%);
			background:-ms-linear-gradient(top, #ededed 5%, #ab92ab 100%);
			background:linear-gradient(to bottom, #ededed 5%, #ab92ab 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ab92ab',GradientType=0);
			background-color:#ededed;
			-moz-border-radius:7px;
			-webkit-border-radius:7px;
			border-radius:7px;
			display:inline-block;
			cursor:pointer;
			color:#ffffff;
			font-family: 'Open Sans', sans-serif;
			font-size:17px;
			font-weight:bold;
			padding:5px 25px;
			text-decoration:none;
			text-shadow:0px 1px 0px #d3d5eb;
		}
		.create_btn:hover {
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ab92ab), color-stop(1, #ededed));
			background:-moz-linear-gradient(top, #ab92ab 5%, #ededed 100%);
			background:-webkit-linear-gradient(top, #ab92ab 5%, #ededed 100%);
			background:-o-linear-gradient(top, #ab92ab 5%, #ededed 100%);
			background:-ms-linear-gradient(top, #ab92ab 5%, #ededed 100%);
			background:linear-gradient(to bottom, #ab92ab 5%, #ededed 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab92ab', endColorstr='#ededed',GradientType=0);
			background-color:#ab92ab;
		}
		.create_btn:active {
			position:relative;
			top:1px;
		}
		.reset_btn {
			height: 37px;
			margin-left: 10px;			
			-moz-box-shadow: 2px 4px 10px 0px #c0c9cc;
			-webkit-box-shadow: 2px 4px 10px 0px #c0c9cc;
			box-shadow: 2px 4px 10px 0px #c0c9cc;
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #ab92ab));
			background:-moz-linear-gradient(top, #ededed 5%, #ab92ab 100%);
			background:-webkit-linear-gradient(top, #ededed 5%, #ab92ab 100%);
			background:-o-linear-gradient(top, #ededed 5%, #ab92ab 100%);
			background:-ms-linear-gradient(top, #ededed 5%, #ab92ab 100%);
			background:linear-gradient(to bottom, #ededed 5%, #ab92ab 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ab92ab',GradientType=0);
			background-color:#ededed;
			-moz-border-radius:7px;
			-webkit-border-radius:7px;
			border-radius:7px;
			display:inline-block;
			cursor:pointer;
			color:#ffffff;
			font-family: 'Open Sans', sans-serif;
			font-size:17px;
			font-weight:bold;
			padding:5px 24px;
			text-decoration:none;
			text-shadow:0px 1px 0px #d3d5eb;
		}
		.reset_btn:hover {
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ab92ab), color-stop(1, #ededed));
			background:-moz-linear-gradient(top, #ab92ab 5%, #ededed 100%);
			background:-webkit-linear-gradient(top, #ab92ab 5%, #ededed 100%);
			background:-o-linear-gradient(top, #ab92ab 5%, #ededed 100%);
			background:-ms-linear-gradient(top, #ab92ab 5%, #ededed 100%);
			background:linear-gradient(to bottom, #ab92ab 5%, #ededed 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab92ab', endColorstr='#ededed',GradientType=0);
			background-color:#ab92ab;
		}
		.reset_btn:active {
			position:relative;
			top:1px;
		}